@keyframes fade{
    0%{
        background-color:orange;
    }
    25%{
        background-color:orangered;
    }
    50%{
        background-color:orange;
    }
    75%{
        background-color:yellow;
    }
    100%{
        background-color:orange;
    }
}

#playername{
    margin-top:90px;
    font-size:30px;
    visibility: hidden;
}
#playerscore{
    margin-top:30px;
    font-size:20px;
    margin-bottom:100px;
    visibility: hidden;
}

#roll{
    margin:auto;
    width:30%;
    padding:10px;
    background-color:darkorchid;
    margin-top:100px;
    visibility: hidden;
}
#start{
    background-color:darkorchid;
    margin:auto;
    width:30%;
    padding:10px;
    font-size:20px;
    visibility: visible;
}

body{
    animation-name:fade;
    animation-duration: 5s;
    animation-iteration-count: 10000000000;
    text-align:center;
    background-color:fade;
}

#dice{
    background-color:yellow;
    visibility: hidden;
}